/*  your css code here. If applicable */
.image{
	border-radius:5%;
	padding:5px;
}
#photo-heading{
	text-align:center;
	color:white
}
#gallery{
	padding:5px;
}
#animal-photos{
	background-color:#5c8a8a;
	border-radius:2%;
}